<nav class="ui blue menu">
  <header class="header item"> <a href="/home"> nearForm Meeting Room Booking System </a> </header>
  <div class="right menu">
    <a id="home" class="item" href="/home">Today</a>
    <a id="home" class="item" href="/tomorrow">Tomorrow</a>
    <a class="item" href="/logout">Logout</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>